<!DOCTYPE html>
<html>
	<head>
		<title>Faro</title>	
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	</head>
	<body>
		<header>
			<div class="container">
				<h1 class="logo">
					<a href="{{ url_for('home') }}">Faro</a>				
				</h1>	
				<strong><nav>
					<ul class="menu">
						<li><a class="nav" href="{{ url_for('about') }}">About</a></li>	
						<li><a class="nav" href="{{ url_for('contact') }}">Contact</a></li>
						{% if 'email' in session %}
						<li><a class="nav" href="{{ url_for('profile') }}">Profile</a></li>	
						<li><a class="nav" href="{{ url_for('signout') }}">Sign Out</a></li>		
						{% else %}
						<li><a class="nav" href="{{ url_for('signup') }}">Sign Up</a></li>	
						{% endif %}				
					</ul>
				</nav></strong>		
			</div>
		</header>
		
		<div class="container">
			{% block content %}
			{% endblock %}		
		</div>
	</body>
</html>

