{% extends "layout.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="span2">
			
		</div>
		<div class="span8">
			<h2>Admin</h2>
		</div>
		<div class="span2">
		
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<h3>Number of Users (<span data-bind="text: users().length"></span>)</h3>
			<table class="table table-striped">
				<thead><tr>
					<th>#</th><th>UUID</th><th>User Name</th><th>First Name</th><th>Last Name</th><th>Date Created</th>
				</tr></thead>
				<tbody data-bind="foreach: users">
					<td></td>
					<td></td>
					<td><input data-bind="value: username"/></td>
					<td><input data-bind="value: firstname"/></td>
					<td><input data-bind="value: lastname"/></td>
					<td></td>
					<td><button>Delete</button></td>
				</tbody>
			</table>
			<button>Create</button>
		</div>
	</div>
	<div class="span12">
	
	<p>First name: <input data-bind="value: firstName" /></p>
<p>Last name: <input data-bind="value: lastName" /></p>
<h2>Hello, <span data-bind="text: fullName"> </span>!</h2>
</div>
</div>
{% endblock %}
