{% extends "layout.html" %}
{% block content %}
<div id="admin" class="container">
	<div class="row">
		<div class="span2">
			
		</div>
		<div class="span8">
			<h2>Admin</h2>
		</div>
		<div class="span2">
		
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div class="form-horizontal">
				<input type="text" data-bind="value: $root.newUserName" placeholder="User Name"/>
				<input type="text" data-bind="value: $root.newFirstName" placeholder="First Name"/>
				<input type="text" data-bind="value: $root.newLastName" placeholder="Last Name"/>
				<button type="button" class="btn btn-default" data-bind="click: addUser">Create</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<h5 class="left">Number of Users (<span data-bind="text: users().length"></span>)</h5>
			
			<table class="table table-striped">
				<thead><tr>
					<th>UUID</th><th>User Name</th><th>First Name</th><th>Last Name</th><th>Created</th><th>Modify</th>
				</tr></thead>
				<tbody data-bind="foreach: users">
					<tr class="form-horizontal">
						<td data-bind="text: id"></td>
						<td data-bind="text: username"></td>
						<td data-bind="text: firstname"></td>
						<td data-bind="text: lastname"></td>
						<td data-bind="text: date"></td>
						<td>
							<button type="button" class="btn btn-default" data-bind="click: $root.editUser">Edit</button>
							<button type="button" class="btn btn-default" data-bind="click: $root.removeUser">Delete</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
