{% extends "layout.html" %}

{% block content %}
	<div class="row">
		<div class="span4 offset2">
			<h2 class="left">Contact</h2>
			{% if success %}
			<p>Thank you for your message. We'll get back to you shortly.</p>
			{% else %}
			<form action="{{ url_for('contact') }}" method=post>
				{{ form.hidden_tag() }}
				{% for message in form.name.errors %}
				<div class="flash">{{ message }}</div>
				{% endfor %}
				{{ form.name.label }}
				{{ form.name }}
				{% for message in form.email.errors %}
				<div class="flash">{{ message }}</div>
				{% endfor %}
				{{ form.email.label }}
				{{ form.email }}
				{% for message in form.subject.errors %}
				<div class="flash">{{ message }}</div>
				{% endfor %}
				{{ form.subject.label }}
				{{ form.subject }}
				{% for message in form.message.errors %}
				<div class="flash">{{ message }}</div>
				{% endfor %}
				{{ form.message.label }}
				{{ form.message }}
				
				{{ form.submit(class_="btn btn-primary") }}
			</form>
		{% endif %}
		</div>
	</div>
{% endblock %}	


