{% extends "layout.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="span12">
			<h2>Dashboard</h2>
		</div>
		<div class="span3">
			<!-- Left Sidebar Content -->
   			<ul class="nav nav-tabs nav-stacked">
      			<li class="active"><a href="#viewEvents" data-toggle="tab">View Events</a></li>
      			<li><a href="#createEvents" data-toggle="tab">Create Events</a></li>
          	</ul>
		</div>
       	<div class="span8">
			<!-- Right Sidebar Content -->
			<div class="tab-content">
    			<div class="tab-pane active" id="viewEvents">
      				<p>I'm View Events.</p>
   			 	</div>
    			<div class="tab-pane" id="createEvents">
      				<p>I'm Create Events.</p>
    			</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
