{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4">
			<!-- Left Sidebar Content -->
		</div>
		<div class="span4">
			<!-- Body Content -->		
			<h2>Poster</h2>
			<section id="fetch">
      			<input type="text" placeholder="Enter a movie title" id="term" />
      			<button id="search">Find me a poster</button>
   				</section>
   			<section id="poster">
   			</section>
		</div>
		<div class="span4">
			<!-- Right Sidebar Content -->
		</div>
	</div>
</div>
{% endblock %}